@page
@model ASPNETFastpathTraining.Pages.Modul07.kunden.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kunde</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kunde.Name" class="control-label"></label>
                <input asp-for="Kunde.Name" class="form-control" />
                <span asp-validation-for="Kunde.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kunde.Plz" class="control-label"></label>
                <input asp-for="Kunde.Plz" class="form-control" />
                <span asp-validation-for="Kunde.Plz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kunde.Land" class="control-label"></label>
                <input asp-for="Kunde.Land" class="form-control" />
                <span asp-validation-for="Kunde.Land" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kunde.Ort" class="control-label"></label>
                <input asp-for="Kunde.Ort" class="form-control" />
                <span asp-validation-for="Kunde.Ort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
