@page
@model ASPNETFastpathTraining.Pages.Modul07.IndexModel
@{
}
<form method="post">
    <input type="checkbox" />
    <input type="radio" name="gruppe" />
    <input type="radio" name="gruppe" />
    <input type="radio" name="gruppe" />
    <input type="range" min="1" max="10" />
    <button class="btn btn-outline-danger" onclick='return confirm("wirklich löschen");'>delete</button>
    <a class="btn btn-outline-danger" asp-page="index" asp-page-handler="delete" onclick='return confirm("wirklich löschen");'>delete</a>
</form>