@page
@model ASPNETFastpathTraining.Pages.Modul02.IndexModel
<div id="div1" style="color:@Model.Variable">
    @Model.Variable
    </div>
<hr />
<form method="post">
    <input id="input1" name="input1" value="@Model.Variable" />
    <button type="submit">send</button>
</form>


@{
}
