@page
@model ASPNETFastpathTraining.Pages.Modul02.Route2Model
@{
}
<a asp-page="/modul02/Routensample"
   asp-route-hersteller="Audi"
   asp-route-typ="A5"
   asp-route-ps="170">Audi A5  Cabrio braun 170PS</a>
<a asp-page="/modul02/Routensample" asp-route-id="2">Click</a>